<div>
	Chord: 

	<span *ngIf="chord">
		{{chord[0].note.name}}

		<span *ngIf="chord[1].quality == 'major' && chord[2].quality == 'minor'">
			major
		</span>
		<span *ngIf="chord[1].quality == 'major' && chord[2].quality == 'major'">
			augmented
		</span>
		<span *ngIf="chord[1].quality == 'minor' && chord[2].quality == 'minor'">
			diminished
		</span>
		<span *ngIf="chord[1].quality == 'minor' && chord[2].quality == 'major'">
			minor
		</span>

		( {{chord[0].note.name}}  ,  {{chord[1].note.name}}  ,  {{chord[2].note.name}} )

	</span>
</div>