<!-- <ul>
    <li *ngFor="let string of strings"> -->
        <app-notes [notes]="notes" [modes]="modes" [guitar]="true" [(selectedNote)]="selectedNote" [(selectedMode)]="selectedMode" [(chordRoot)]="chordRoot" 
        (selectedNoteChange)="generateMode()" (selectedModeChange)="generateMode()" (chordRootChange)="generateChord()">
        </app-notes>
    <!-- </li>
</ul> -->


<h1 id="instructionMessage" *ngIf="!selectedNote">Select a note to show {{selectedMode.name}} scale</h1>

<app-chord-display [chord]="chord"></app-chord-display>

<app-mode-selector [notes]="notes" [modes]="modes" [(selectedNote)]="selectedNote" [(selectedMode)]="selectedMode" 
(selectedNoteChange)="generateMode()" (selectedModeChange)="generateMode()">
</app-mode-selector>