ul {
	list-style-type: none;
	width: 100%;
	padding: 0;
	min-width: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

li {
	min-width: 0;
	text-align: center;
}


li mat-card{
	min-width: 0;
	border-width: 2px;
	border-style: solid;
	transition: background-color 1s ease;

	cursor: pointer;

	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

li mat-card span{
	text-align: center;
}

.name{
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.sharp{
	grid-row-start: 1;
}
.flat{
	grid-row-start: 2;
}


button{
	min-width: 0;
	max-width: 100%;
	font-size: 7px;
	text-align: center;
	margin: 3px;
}

.chromatic{
	background-color: #ede7f6; /* super light deep purple */
}

.tonic{
	background-color: #4d2c91; /* dark deep purple */
	border-width: 10px;
}
.tonic span {
		color: #ffffff;
}

.second{
	background-color: #c7a4ff; /* lighter deep purple */
	border-width: 3px;
}

.third{
	background-color: #b085f5; /* light deep purple */
	border-width: 3px;
}

.fourth{
	background-color: #c7a4ff; /* lighter deep purple */
	border-width: 3px;
}

.fifth{
	background-color: #b085f5; /* light deep purple */
	border-width: 3px;
}

.sixth{
	background-color: #c7a4ff; /* lighter deep purple */
	border-width: 3px;
}

.seventh{
	background-color: #b085f5; /* light deep purple */
	border-width: 3px;
}