ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}


li div{
	border-width: 2px;
	border-style: solid;
}

li div span{
	text-align: center;
	display: block;
}

button{
	font-size: 7px
}

.chromatic{
	background-color: grey;
}

.tonic{
	background-color: red;
	border-width: 10px;
}

.second{
	background-color: orange;
	border-width: 3px;
}

.third{
	background-color: yellow;
	border-width: 3px;
}

.fourth{
	background-color: green;
	border-width: 3px;
}

.fifth{
	background-color: cyan;
	border-width: 3px;
}

.sixth{
	background-color: lightblue;
	border-width: 3px;
}

.seventh{
	background-color: purple;
	border-width: 3px;
}